@model IEnumerable<HackerNewsAPI.Models.Story>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a href="@item.URL">@item.Title</a>
                </td>
                <td>@item.By</td>
                <td>@item.Score</td>
            </tr>
        }
    </tbody>
</table>