@model IEnumerable<HackerNewsAPI.Models.Story>

@{
    ViewBag.Title = "HackerNews Best Stories";
}

<h3>Best Stories</h3>

@if (ViewBag.error != null)
{
    <p style="color:red">
        @ViewBag.error
    </p>
}

<form method="get" action="@Url.Action("Search")">
    <div class="form-group">
        <label for="search">Search Best Stories: </label>
        <input type="text" id="search" name="text" placeholder="search" />
    </div>
</form>

Showing @Model.Count().ToString() results

<div id="newsStories">
    @Html.Partial("_StoryList", Model)
</div>
